<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UL-Homework</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@400;700&display=swap">
    <link rel="stylesheet" href="../static/styles.css">

</head>
<body>
    <div class="content-wrapper">
        <header>
            <h1>UL-Homework</h1>
            <h2>You link with your homework</h2>
        </header>

        <main class="main">
            <section class="sidebar">
                <h3>Categories</h3>
                <div class="category">
                    <h4>Completion Status</h4>
                    <label><input type="checkbox" id="filter-finished"> Finished</label><br>
                    <label><input type="checkbox" id="filter-unfinished"> Unfinished</label>
                </div>

                <div class="category">
                    <h4>Subject</h4>
                    <label><input type="checkbox" id="filter-math"> Math</label><br>
                    <label><input type="checkbox" id="filter-english"> English</label><br>
                    <label><input type="checkbox" id="filter-chemistry"> Chemistry</label><br>
                    <label><input type="checkbox" id="filter-physics"> Physics</label><br>
                    <label><input type="checkbox" id="filter-economics"> Economics</label>
                </div>

                <div class="category">
                    <h4>Community</h4>
                    <p> Coming Soon :D<p>
                </div>
            
                <button id="settings-btn" onclick="window.location.href='settings.html'">
                    <img src="../static/settings-icon.png" alt="Settings" />
                    <span>Settings</span>
                </button>
            </section>

            <section class="homework-list" id="homeworkContainer">
                <h3>Homework Assignments</h3>
                <!-- 作业项目将通过 script.js 动态生成 -->
            </section>
        </main>

        <footer>
            <p>I don’t procrastinate. I save my homework until the last minute so that, by the time I do it, I’ll be older and wiser.</p>
        </footer>
    </div>
    
    
    <button id="login-btn" onclick="window.location.href='/login'">Login</button>
    
    <script src="../static/script.js"></script>
</body>
</html>
